<%= form_for Games_path do |f| %>

<div>
  <%= f.label :day %><br>
  <%= f.text_field :day %>
</div>

<div>
  <%= f.label :week %><br>
  <%= f.text_field :week %>
</div>

<div>
  <%= f.label :month %><br>
  <%= f.text_field :month %>
</div>

<div>
  <%= f.label :day_struggle %><br>
  <%= f.text_field :day_struggle %>
</div>

<div>
  <%= f.label :com_struggle %><br>
  <%= f.text_field :com_struggle %>
</div>

<div>
  <%= f.label :some_struggle %><br>
  <%= f.text_field :some_struggle %>
</div>
